div.navbar
    a.navbar-brand=''
    ul.nav.navbar-nav
        - servers.forEach(function(server) {
            li
                // FIXME
                a(href=server.hostname)=server.name
        - });
